<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../static/css/output.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>

    <script>
        window.onload = async function fetchCheckinStatus() {
            try {
                const token = localStorage.getItem('jwtToken');
                const checkinResponse = await fetch('/checkins/today', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                if (checkinResponse.status === 404) {
                    document.getElementById('checkin-status-message').innerText = "You haven't checked in yet today. Please check-in using the button below."
                    return;
                }

                const checkinJsonData = await checkinResponse.json();
                document.getElementById('mood-data').innerText = checkinJsonData.mood;
                document.getElementById('stress-data').innerText = checkinJsonData.stress;
                document.getElementById('energy-data').innerText = checkinJsonData.energy;
                document.getElementById('checkin-status-message').classList.add('hidden');
                document.getElementById('checkin-results').classList.remove('hidden');
                document.getElementById('checkin-button').classList.add('hidden');
            } catch (error){
                document.getElementById('checkin-status-message').innerText = "Error retrieving check-in data."
            }
        }
    </script>

    <script defer>
        async function fetchEvents(info, successCallback, failureCallback) {
            try {
                const token = localStorage.getItem('jwtToken');
                const eventHistoryResponse = await fetch('/calendar/events', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                if (eventHistoryResponse.status === 404) {
                    console.error("No events have been added yet.");
                }

                const events = await eventHistoryResponse.json();
                successCallback(events)
            } catch (error){
                console.error("No events have been added yet.");
            }
        }
        

        function addDays(date, days) {
            const result = new Date(date)
            result.setDate(result.getDate() + days)
            return result
        }

        const today = new Date()

        let selectedEvent = null
        let selectedDateInfo = null

        document.addEventListener('DOMContentLoaded', function () {
            const calendar = document.getElementById('calendar')
            const calendarList = document.getElementById('calendar-list')
            const eventForm = document.getElementById('submission-form')
            const deleteEvent = document.getElementById('delete-event')

            const calendarObj = new FullCalendar.Calendar(calendar, {
                initialView: 'dayGridMonth',
                editable: true,
                direction: 'ltr',
                eventResizableFromStart: true,
                selectable: true,
                headerToolbar: {
                left: 'title prev,next',
                right: 'dayGridMonth'
                },
                //events: events,
                events: fetchEvents,
                eventClick: function (info) {
                    selectedEvent = info.event
                    document.getElementById('reminder-header').textContent = 'View Reminder'
                    document.querySelector('#reminder-creation-modal #reminder-name').value = info.event.title
                    //document.querySelector('#reminder-creation-modal #reminder-interval #default-interval').textContent = 'placeholder'
                    document.querySelector('#reminder-creation-modal #flatpickr-start-date').value = info.event.startStr.split('T')[0]
                    document.querySelector('#reminder-creation-modal #flatpickr-end-date').value = addDays(info.event.endStr, -1).toISOString().split('T')[0]
                    document.querySelector('#reminder-creation-modal #reminder-description').value = info.event.extendedProps.description

                    document.getElementById('reminder-creation-modal').showModal()
                }
            })

            const calendarListObj = new FullCalendar.Calendar(calendarList, {
                displayEventTime: false,
                initialView: 'listWeek',
                editable: true,
                direction: 'ltr',
                eventResizableFromStart: true,
                selectable: true,
                headerToolbar: {
                left: 'title',
                right: 'prev,next'
                },
                events: fetchEvents,
                eventClick: function (info) {
                    selectedEvent = info.event
                    document.getElementById('reminder-header').textContent = 'View Reminder'
                    document.querySelector('#reminder-creation-modal #reminder-name').value = info.event.title
                    //document.querySelector('#reminder-creation-modal #reminder-interval #default-interval').textContent = 'placeholder'
                    document.querySelector('#reminder-creation-modal #flatpickr-start-date').value = info.event.startStr.split('T')[0]
                    //let endTimeTemp = new Date(info.event.startStr);
                    document.querySelector('#reminder-creation-modal #flatpickr-end-date').value = addDays(info.event.endStr, -1).toISOString().split('T')[0]
                    //document.querySelector('#reminder-creation-modal #flatpickr-end-date').value = info.event.endStr.split('T')[0]
                    document.querySelector('#reminder-creation-modal #reminder-description').value = info.event.extendedProps.description
                    
                    document.getElementById('reminder-creation-modal').showModal()
                }
            })
            
            calendarObj.render()
            calendarListObj.render()
        });
    </script>

</head>
<body>
    <header>
        <nav>
            <div class="navbar bg-base-100 shadow-sm">
                <div class="navbar-start">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="{{ url_for('main.home_page') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('main.checkin_page') }}">Daily Check-In</a></li>
                        <li><a href="{{ url_for('main.weekly_tasks') }}">Weekly Tasks</a></li>
                        <li><a href="{{ url_for('main.journal_page') }}">Journal</a></li>
                        <li><a href="{{ url_for('main.statistics_page') }}">Statistics</a></li>
                        <li><a href="{{ url_for('main.resources_page') }}">Resources</a></li>
                    </ul>
                </div>
                <div class="navbar-center">
                    <a class="btn btn-ghost text-xl">Gator Check-In</a>
                </div>
                <div class="navbar-end">
                    <button class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
                    </button>
                    <button class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /> </svg>
                            <span class="badge badge-xs badge-primary indicator-item"></span>
                        </div>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main class="mx-auto max-w-screen-2xl p-6">
        <h1 class="text-3xl font-bold text-center my-8">Coming Soon...Gator Check-In!</h1>

        <section class="flex flex-row gap-8 justify-items-center mb-4">
            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Daily Check-In</h2>
                <p id="checkin-status-message">Updating daily check-in status...</p>
                <div id="checkin-results" class="hidden mt-4 space-y-4">
                    <p>Mood: <span id="mood-data" class="font-semi-bold"></span>/5</p> 
                    <p>Stress: <span id="stress-data" class="font-semi-bold"></span>/5</p> 
                    <p>Energy: <span id="energy-data" class="font-semi-bold"></span>/5</p> 
                </div>
                <a href="{{ url_for('main.checkin_page') }}" id="checkin-button" class="btn btn-md flex bg-neutral-secondary-medium border border-default-medium text-sm font-medium rounded-md focus:ring-brand focus:border-brand text-heading shadow-xs">Go to daily check-in</a>
            </div>

            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Journal</h2>
            </div>
        </section>

        <section class="flex flex-col gap-8 justify-items-center">
            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Calendar</h2>
                <div class="card flex flex-row gap-4 m-2">
                    <div id='calendar' class="flex-1 grow-4 p-4 bg-neutral-secondary-medium border border-default-medium rounded-md shadow-xs overflow-visible"></div>
                    <div class="flex-1 flex flex-col grow-1 p-4 bg-neutral-secondary-medium border border-default-medium rounded-md shadow-xs">
                        <h2 class="font-semibold mb-4">Upcoming Events</h2>
                        <div id="calendar-list" class="flex-1 max-h-full object-contain px-1 overflow-auto"></div>
                    </div>
                </div>
            </div>

            <dialog id="reminder-creation-modal" class="modal" role="dialog" tabindex="-1">
                <div class="modal-box max-w-3xl">
                    <form id="close-form" method="dialog">
                        <button id="close-button" type="submit" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 id="reminder-header" class="test-lg font-bold">Create a Reminder</h3>
                    <div>
                        <div class="flex flex-row gap-4 my-4">
                            <div class="flex-1">
                                <label for "reminder-name" class="block mb-3 text-sm font-medium text-heading">Task Name</label>
                                <input type="text" id="reminder-name" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Ex. Take the dog for a walk" required>
                            </div>
                            <!-- <div class="flex-1">
                                <label for "reminder-interval" class="block mb-3 text-sm font-medium text-heading">When would you like to be reminded? </label>
                                <select id="reminder-interval" class="select bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block max-w-sm px-3 py-2.5 shadow-xs appearance-none"" aria-label="select">
                                    <option id="default-interval" disabled selected>Select date to be reminded</option>
                                    <option>Always</option>
                                    <option>1 week before</option>
                                    <option>3 days before</option>
                                    <option>1 day before</option>
                                </select>
                            </div> -->
                        </div>
                        <div class="flex flex-row gap-8 mt-4">
                            <div class="">
                                <label for "flatpickr-start-date" class="block mb-3 text-sm font-medium text-heading">Start Date</label>
                                <input type="text" id="flatpickr-start-date" class="input max-w-md bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="YYYY-MM-DD" required>
                            </div>
                            <div class="justify-left">
                                <label for "flatpickr-end-date" class="block mb-3 text-sm font-medium text-heading">End Date</label>
                                <input type="text" id="flatpickr-end-date" class="input max-w-md bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="YYYY-MM-DD" required>
                            </div>      
                            <!-- <label class="inline-flex justify-right items-center cursor-pointer">
                                <span class="select-none text-sm font-medium text-heading">Task</span>
                                <input type="checkbox" id="type-selector" value="" class="sr-only peer">
                                <div class="relative mx-3 w-9 h-5 bg-neutral-quaternary peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-brand-soft dark:peer-focus:ring-brand-soft rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-brand"></div>
                                <span class="select-none text-sm font-medium text-heading">Event</span>
                            </label>                       -->
                        </div>
                        <div class="mt-4">
                            <label for "reminder-description" class="block mb-3 text-sm font-medium text-heading">Task Description</label>
                            <textarea id="reminder-description" rows="15" class="w-full p-3 bg-neutral-secondary-medium border border-default-medium rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Write a short description..." required></textarea>
                        </div>
                    </div>
                </div>
            </dialog>

            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Statistics</h2>
            </div>

            </div>
        </section>


{#
        <section class="grid grid-cols-2 grid-rows-5 gap-8 justify-items-center">
            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Daily Check-In</h2>
                <p id="checkin-status-message">Updating daily check-in status...</p>
                <div id="checkin-results" class="hidden mt-4 space-y-4">
                    <p>Mood: <span id="mood-data" class="font-semi-bold"></span>/5</p> 
                    <p>Stress: <span id="stress-data" class="font-semi-bold"></span>/5</p> 
                    <p>Energy: <span id="energy-data" class="font-semi-bold"></span>/5</p> 
                </div>
            </div>

            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Journal</h2>
            </div>

            <div class="col-span-2 row-span-2 w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Calendar</h2>
                <div class="card flex flex-row not-prose max-h-4/5 p-4 gap-4 m-4 bg-neutral-primary-medium border border-default-medium rounded-base shadow-xs">
                    <div id='calendar' class="flex-1"></div>
                    <div class="min-w-1/5 p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                        <div class="flex flex-col">
                            <h2 class="font-semibold mb-4">Upcoming Events</h2>
                            <div id="calendar-list" class="flex-1 px-1"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full min-h-[250px] p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Statistics</h2>
            </div>

            </div>
        </section>
#}
    </main>
    
</body>
</html>

