<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../static/css/output.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
    <script src="{{ url_for('static', filename='js/calendar/apexcharts.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <script>
        // Fetches today's check-in data from backend and updates check-in box
        async function fetchCheckinStatus() {
            try {
                const token = localStorage.getItem('jwtToken');
                const checkinResponse = await fetch('/checkins/today', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                // If no check-in has been done today, tells user to go check-in first
                if (checkinResponse.status === 404) {
                    document.getElementById('checkin-status-message').innerText = "You haven't checked in yet today. Please check-in using the button below."
                    return;
                }

                //Otherwise, adds a table with check-in results
                const checkinJsonData = await checkinResponse.json();
                document.getElementById('mood-data').innerText = checkinJsonData.mood + "/5";
                document.getElementById('stress-data').innerText = checkinJsonData.stress + "/5";
                document.getElementById('energy-data').innerText = checkinJsonData.energy + "/5";
                document.getElementById('sleep-data').innerText = checkinJsonData.sleep_hours + " hours";
                document.getElementById('checkin-status-message').classList.add('hidden');
                document.getElementById('checkin-results').classList.remove('hidden');
                document.getElementById('checkin-button').classList.add('hidden');
            } catch (error){
                document.getElementById('checkin-status-message').innerText = "Error retrieving check-in data."
            }
        }

        //Fetches today's journal entry from backend and updates journal box
        async function fetchJournalStatus() {
            try {
                const token = localStorage.getItem('jwtToken');
                const journalResponse = await fetch('/journal/today', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                // If no journal entry has been made today, tells user to go make one
                if (journalResponse.status === 404) {
                    document.getElementById('journal-status-message').innerText = "You haven't written a journal entry yet today. Please write an entry using the button below."
                    return;
                }

                //Otherwise, adds journal entry to journal box
                const journalJsonData = await journalResponse.json();
                document.getElementById('journal-data').textContent = journalJsonData.journal;
                document.getElementById('journal-status-message').classList.add('hidden');
                document.getElementById('journal-results').classList.remove('hidden');
                document.getElementById('journal-button').classList.add('hidden');
            } catch (error){
                document.getElementById('journal-status-message').innerText = "Error retrieving journal data."
            }
        }

        document.addEventListener('DOMContentLoaded', fetchCheckinStatus);
        document.addEventListener('DOMContentLoaded', fetchJournalStatus);
    </script>

    <script defer>
        //Calendar scripts

        //Function to fetch events/reminders from backend
        async function fetchEvents(info, successCallback, failureCallback) {
            try {
                const token = localStorage.getItem('jwtToken');
                const eventHistoryResponse = await fetch('/calendar/events', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                if (eventHistoryResponse.status === 404) {
                    console.error("No events have been added yet.");
                }

                const events = await eventHistoryResponse.json();
                successCallback(events)
            } catch (error){
                console.error("No events have been added yet.");
            }
        }
        
        //Helper function to add days to a date
        function addDays(date, days) {
            const result = new Date(date)
            result.setDate(result.getDate() + days)
            return result
        }

        const today = new Date()

        let selectedEvent = null
        let selectedDateInfo = null

        //Main calendar function
        document.addEventListener('DOMContentLoaded', function () {
            const calendar = document.getElementById('calendar')
            const calendarList = document.getElementById('calendar-list')
            const eventForm = document.getElementById('submission-form')
            const deleteEvent = document.getElementById('delete-event')

            //Defines the main calendar (one on left)
            const calendarObj = new FullCalendar.Calendar(calendar, {
                initialView: 'dayGridMonth',
                editable: true,
                direction: 'ltr',
                eventResizableFromStart: true,
                selectable: true,
                headerToolbar: {
                left: 'title prev,next',
                right: 'dayGridMonth'
                },
                events: fetchEvents,
                //Controls reminder detail modal when clicking on event
                eventClick: function (info) {
                    selectedEvent = info.event
                    document.getElementById('reminder-header').textContent = 'View Reminder'
                    document.querySelector('#reminder-creation-modal #reminder-name').value = info.event.title
                    document.querySelector('#reminder-creation-modal #flatpickr-start-date').value = info.event.startStr.split('T')[0]
                    document.querySelector('#reminder-creation-modal #flatpickr-end-date').value = addDays(info.event.endStr, -1).toISOString().split('T')[0]
                    document.querySelector('#reminder-creation-modal #reminder-description').value = info.event.extendedProps.description

                    document.getElementById('reminder-creation-modal').showModal()
                }
            })

            //Defines second calendar (list to the right)
            const calendarListObj = new FullCalendar.Calendar(calendarList, {
                displayEventTime: false,
                initialView: 'listWeek',
                editable: true,
                direction: 'ltr',
                eventResizableFromStart: true,
                selectable: true,
                headerToolbar: {
                left: 'title',
                right: 'prev,next'
                },
                events: fetchEvents,
                //Controls reminder detail modal when clicking on event
                eventClick: function (info) {
                    selectedEvent = info.event
                    document.getElementById('reminder-header').textContent = 'View Reminder'
                    document.querySelector('#reminder-creation-modal #reminder-name').value = info.event.title
                    document.querySelector('#reminder-creation-modal #flatpickr-start-date').value = info.event.startStr.split('T')[0]
                    document.querySelector('#reminder-creation-modal #flatpickr-end-date').value = addDays(info.event.endStr, -1).toISOString().split('T')[0]
                    document.querySelector('#reminder-creation-modal #reminder-description').value = info.event.extendedProps.description
                    
                    document.getElementById('reminder-creation-modal').showModal()
                }
            })
            
            calendarObj.render()
            calendarListObj.render()
        });
    </script>

    <script>
        //Statistics graph script

        //Helper function to retrieve check-in history
        async function fetchTrendHistory() {
            try {
                const token = localStorage.getItem('jwtToken');
                const trendHistoryResponse = await fetch('/trends/weekly-history', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                if (trendHistoryResponse.status === 404) {
                    console.error(trendHistoryResponse.message);
                }

                const trendHistoryData = await trendHistoryResponse.json();
                return trendHistoryData;
            } catch (error){
                console.error("Something went wrong.");
            }
        }

        //Function to define graph 
        const drawGraph = async() => {

            const getBrandColor = () => {
            const computedStyle = getComputedStyle(document.documentElement);
            return computedStyle.getPropertyValue('--color-graph-1').trim();
            };

            const getBrandSecondaryColor = () => {
            const computedStyle = getComputedStyle(document.documentElement);
            return computedStyle.getPropertyValue('--color-graph-2').trim();
            };

            const getBrandTertiaryColor = () => {
            const computedStyle = getComputedStyle(document.documentElement);
            return computedStyle.getPropertyValue('--color-graph-3').trim();
            };

            const brandColor = getBrandColor();
            const brandSecondaryColor = getBrandSecondaryColor();
            const brandTertiaryColor = getBrandTertiaryColor();

            const trendHistoryData = await fetchTrendHistory();
            const options = {
            chart: {
                height: "100%",
                maxWidth: "100%",
                type: "line",
                fontFamily: "Inter, sans-serif",
                dropShadow: {
                enabled: false,
                },
                toolbar: {
                show: true,
                },
            },
            tooltip: {
                enabled: true,
                x: {
                show: false,
                },
            },
            dataLabels: {
                enabled: false,
            },
            stroke: {
                width: 6,
                curve: 'smooth'
            },
            grid: {
                show: true,
                strokeDashArray: 4,
                padding: {
                left: 2,
                right: 2,
                top: -26
                },
            },
            series: [
                {
                name: "Mood",
                data: trendHistoryData.map(e => Object.values(e)[1]),
                color: brandColor,
                },
                {
                name: "Stress",
                data: trendHistoryData.map(e => Object.values(e)[2]),
                color: brandSecondaryColor,
                },
                {
                name: "Energy",
                data: trendHistoryData.map(e => Object.values(e)[3]),
                color: brandTertiaryColor,
                },
            ],
            legend: {
                show: false
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                categories: trendHistoryData.map(e => Object.values(e)[0]),
                labels: {
                show: true,
                style: {
                    fontFamily: "Inter, sans-serif",
                    cssClass: 'text-xs font-normal fill-body'
                }
                },
                axisBorder: {
                show: false,
                },
                axisTicks: {
                show: false,
                },
            },
            yaxis: {
                show: true,
            },
            }

            const chart = new ApexCharts(document.getElementById("line-chart"), options);
            chart.render();
        }

        document.addEventListener('DOMContentLoaded', drawGraph);
    </script>

    <script>
        //Checks if user is logged in when loading page
        document.addEventListener('DOMContentLoaded', async function () {
            const token = localStorage.getItem('jwtToken');
            //CHANGE LINE BELOW TO NEW LINK
            const authResponse = await fetch('/checkins/today', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            });

            // If no user is logged in, return to landing page
            if (authResponse.status === 401 || authResponse.status === 422) {
                window.location.href = "/";
                return;
            }

            //Otherwise, display user email in navbar
            const authJsonData = await authResponse.json();
            document.getElementById('user-email-display').innerText = "Hello, " + localStorage.getItem('email');

        });
        
        //Removes access token and email from storage and returns to landing page when signout button is clicked
        async function signoutClick() {
            localStorage.removeItem('jwtToken');
            localStorage.removeItem('email');
            window.location.href = "/";
        }

    </script>
    
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <div class="navbar bg-base-100 shadow-sm">
                <div class="navbar-start">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="{{ url_for('main.home_page') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('main.checkin_page') }}">Daily Check-In</a></li>
                        <li><a href="{{ url_for('main.weekly_tasks') }}">Weekly Tasks</a></li>
                        <li><a href="{{ url_for('main.journal_page') }}">Journal</a></li>
                        <li><a href="{{ url_for('main.statistics_page') }}">Statistics</a></li>
                        <li><a href="{{ url_for('main.resources_page') }}">Resources</a></li>
                    </ul>
                </div>
                <div class="navbar-center">
                    <a class="btn btn-ghost text-xl">Gator Check-In</a>
                </div>
                <div class="navbar-end">
                    <p id="user-email-display" class="font-medium text-sm text-blue-300 px-4"></p>
                    <button type="button" id="account-dropdown-button" data-dropdown-toggle="account-dropdown" class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 32 32" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"/></svg>
                        </div>
                    </button>
                    <div id="account-dropdown" class="hidden">
                        <ul class="menu menu-vertical px-1">
                            <li>
                                <button type="button" id="signout-button" onclick="signoutClick()" class="btn btn-md block min-w-40 bg-neutral-secondary-medium border border-default-medium text-md font-semibold rounded-md focus:ring-brand focus:border-brand text-heading mx-auto shadow-xs">Signout</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="mx-auto max-w-screen-2xl p-6">
        <h1 class="text-3xl font-bold text-center my-8">Dashboard</h1>

        <section class="flex flex-row gap-8 justify-items-center mb-4">
            <!-- Daily Check-In Box -->
            <div class="w-full min-h-62.5 p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Daily Check-In</h2>
                <p id="checkin-status-message" class="text-xl font-semibold text-center my-8">Updating daily check-in status...</p>
                <div id="checkin-results" class="hidden mt-4 h-4/5 space-y-4">
                    <table class="size-full table-auto text-medium text-sm border border-separate rounded-sm">
                        <thead>
                            <tr>
                                <th class="border rounded-sm p-1 text-center">Category</th>
                                <th class="border rounded-sm p-1 text-center">Today's Check-In</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Stress</td>
                                <td id="stress-data" class="text-center"></td>
                            </tr>
                            <tr>
                                <td class="text-center">Mood</td>
                                <td id="mood-data" class="text-center"></td>
                            </tr>
                            <tr>
                                <td class="text-center">Energy</td>
                                <td id="energy-data" class="text-center"></td>
                            </tr>
                            <tr>
                                <td class="text-center">Sleep</td>
                                <td id="sleep-data" class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('main.checkin_page') }}" id="checkin-button" class="btn btn-md flex bg-neutral-secondary-medium border border-default-medium text-sm font-medium rounded-md focus:ring-brand focus:border-brand text-heading shadow-xs">Go to daily check-in</a>
            </div>

            <!-- Journal Entry Box -->
            <div class="w-full min-h-62.5 p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Journal</h2>
                <p id="journal-status-message" class="text-xl font-semibold text-center my-8">Retrieving journal entry status...</p>
                <div id="journal-results" class="hidden mt-4 h-4/5 p-2 space-y-4 border border-default-medium text-sm rounded-sm">
                    <p id="journal-data"></p>
                </div>
                <a href="{{ url_for('main.journal_page') }}" id="journal-button" class="btn btn-md flex bg-neutral-secondary-medium border border-default-medium text-sm font-medium rounded-md focus:ring-brand focus:border-brand text-heading shadow-xs">Go to today's journal</a>
            </div>
        </section>

        <section class="flex flex-col gap-8 justify-items-center">
            <!-- Calendar Box -->
            <div class="w-full min-h-62.5 p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Calendar</h2>
                <div class="card flex flex-row gap-4 m-2">
                    <div id='calendar' class="flex-1 grow-4 p-4 bg-neutral-secondary-medium border border-default-medium rounded-md shadow-xs overflow-visible"></div>
                    <div class="flex-1 flex flex-col grow p-4 bg-neutral-secondary-medium border border-default-medium rounded-md shadow-xs">
                        <h2 class="font-semibold mb-4">Upcoming Events</h2>
                        <div id="calendar-list" class="flex-1 max-h-full object-contain px-1 overflow-auto"></div>
                    </div>
                </div>
            </div>

            <!-- Calendar Modal for reviewing reminder details -->
            <dialog id="reminder-creation-modal" class="modal" role="dialog" tabindex="-1">
                <div class="modal-box max-w-3xl">
                    <form id="close-form" method="dialog">
                        <button id="close-button" type="submit" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 id="reminder-header" class="test-lg font-bold">Create a Reminder</h3>
                    <div>
                        <div class="flex flex-row gap-4 my-4">
                            <div class="flex-1">
                                <label for "reminder-name" class="block mb-3 text-sm font-medium text-heading">Task Name</label>
                                <input type="text" id="reminder-name" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Ex. Take the dog for a walk" required>
                            </div>
                        </div>
                        <div class="flex flex-row gap-8 mt-4">
                            <div class="">
                                <label for "flatpickr-start-date" class="block mb-3 text-sm font-medium text-heading">Start Date</label>
                                <input type="text" id="flatpickr-start-date" class="input max-w-md bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="YYYY-MM-DD" required>
                            </div>
                            <div class="justify-left">
                                <label for "flatpickr-end-date" class="block mb-3 text-sm font-medium text-heading">End Date</label>
                                <input type="text" id="flatpickr-end-date" class="input max-w-md bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="YYYY-MM-DD" required>
                            </div>      
                        </div>
                        <div class="mt-4">
                            <label for "reminder-description" class="block mb-3 text-sm font-medium text-heading">Task Description</label>
                            <textarea id="reminder-description" rows="15" class="w-full p-3 bg-neutral-secondary-medium border border-default-medium rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Write a short description..." required></textarea>
                        </div>
                    </div>
                </div>
            </dialog>

            <!-- Statistics Box -->
            <div class="w-full grow h-max p-4 bg-neutral-secondary-medium border border-default-medium rounded-base shadow-xs">
                <h2 class="text-xl font-bold mb-4">Statistics</h2>
                <div class="size-full bg-neutral-primary-soft border border-default rounded-base shadow-xs p-4 md:p-6">
                    <div id="line-chart" class="w-full h-120"></div>
                </div>   
            </div>
        </section>
    </main>
</body>
</html>

