<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../static/css/output.css" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('form').addEventListener('submit', async (e) => {
                e.preventDefault();

                const token = localStorage.getItem('jwtToken');

                const journalData = {
                    journal: document.getElementById('journal-entry').value
                };

                const journalResponse = await fetch("{{ url_for('journal.journal_entry') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    body: JSON.stringify(journalData)
                });

                const journalReturn = await journalResponse.json();

                if (journalResponse.ok) {
                    window.location.href = "/home";
                } else if (journalResponse.status === 400) {
                    document.getElementById('error-message').textContent = "Error: " + journalReturn.error;
                } else {
                    alert(journalReturn.error || "An unknown error has occurred");
                }
            });
        });
    </script>
</head>
<body class="flex flex-col h-lvh max-w-screen-2xl overflow-hidden">
    <header>
        <nav>
            <div class="navbar bg-base-100 shadow-sm">
                <div class="navbar-start">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="{{ url_for('main.home_page') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('main.checkin_page') }}">Daily Check-In</a></li>
                        <li><a href="{{ url_for('main.weekly_tasks') }}">Weekly Tasks</a></li>
                        <li><a href="{{ url_for('main.journal_page') }}">Journal</a></li>
                        <li><a href="{{ url_for('main.statistics_page') }}">Statistics</a></li>
                        <li><a href="{{ url_for('main.resources_page') }}">Resources</a></li>
                    </ul>
                </div>
                <div class="navbar-center">
                    <a class="btn btn-ghost text-xl">Gator Check-In</a>
                </div>
                <div class="navbar-end">
                    <button class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
                    </button>
                    <button class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /> </svg>
                            <span class="badge badge-xs badge-primary indicator-item"></span>
                        </div>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex flex-col grow mx-auto p-6 h-0 w-full max-w-4xl">
        <h1 class="text-3xl font-bold text-center my-8">Coming Soon...Journal</h1>

        <section class="flex flex-col gap-8 justify-items-center mb-4 w-full">
            <form id="submission-form" class="w-full">
                <textarea id="journal-entry" rows="15" class="w-full p-3 bg-neutral-secondary-medium border border-default-medium rounded-lg focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Write a short journal entry about your day..." required></textarea>
                <button type="submit" id="submit-button" class="btn btn-md block mt-4 bg-neutral-secondary-medium border border-default-medium text-sm font-medium rounded-md focus:ring-brand focus:border-brand text-heading mx-auto shadow-xs">Submit</button>
                <!-- <div class="">
                    <label for "journal-entry" class="block mb-3 text-sm font-medium text-heading">Task Description</label>
                    <textarea id="journal-entry" rows="25" class="w-full p-3 bg-neutral-secondary-medium border border-default-medium rounded-lg focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Write a short journal entry about your day..." required></textarea>
                </div>
                <div class="justify-center mt-4">
                    <button type="submit" id="submit-button" class="btn btn-md block mb-3 bg-neutral-secondary-medium border border-default-medium text-sm font-medium rounded-md focus:ring-brand focus:border-brand text-heading mx-auto shadow-xs">Submit</button>
                </div> -->
            </form>
        </section>
        <div>
            <p id="error-message" class="text-red-500 text-xl font-semibold text-center my-8"></p>
        </div>
    </main>
</body>
</html>

