@import "tailwindcss";
@plugin "daisyui";

@import "flyonui/src/vendor/fullcalendar.css";
@import "flyonui/src/vendor/flatpickr.css";
@import "flyonui/src/vendor/apexcharts.css";


@theme {
  /* This automatically creates .text-brand, .bg-brand, etc. */
  --color-brand: #2F71BC;
  --color-brand-subtle: #952462;
  --color-graph-1: #2F71BC;
  --color-graph-2: #952462;
  --color-graph-3: #28a75d;
}

/* #1D232A Dark blue
#171B20 Dark dark blue */
